.dropbox
.project
.pydevproject
*.pyc
src/config.pyc
src/board/*.pyc
src/board/__init__.pyc
src/board/modifiers.pyc
src/board/tile.pyc
src/solver/letter.pyc
src/solver/__init__.pyc
src/solver/letter.pyc
src/solver/__init__.pyc
src/words/__init__.pyc
src/words/words.pyc
.gitignore